h1 {
    font-size: 50px;
    color: rgb(235, 11, 216);
}


.output {
    color: rgb(255, 0, 0);
}

p {
    font-size: 40px;
}

.output {
    font-size: 40px;
}


button {
    font-size: 20px;
}